@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_InfraLayout.cshtml";
}
<div class="aster-about-area about-style-1 aster-section-gap">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-6">
                <div class="about-thumbnail">
                    <div class="thumbnail">
                        <img src="/eCommerce/infrasoft/assets/images/about/about-01.jpeg" alt="About Us">
                    </div>
                    <p>
                        <span class="text-heading">
                            <p style="font-size: 18px; color: black; text-align: justify;">bedrock upon which we build comprehensive IT solutions tailored to ensure your success.Experience the future of IT infrastructure with InfraSoft — where innovation meets reliability, and where every client engagement is not just a project but a journey towards excellence. We take pride in being authorized distributors and partners of various cutting-edge products, showcasing our commitment to providing you with the very best in the world of technology.Join us on this transformative journey. Elevate your IT experience with InfraSoft, your trusted companion in the ever-evolving realm of technology.</p>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-xl-8 col-lg-6">
                <div class="about-content content-right">
                    <span class="title-highlighter highlighter-primary2">
                        <i class="fas fa-info"></i>About
                        Us
                    </span>
                    <h3 class="title">A Complete IT Solution</h3>
                    <p>
                        <span class="text-heading"
                              style="font-size: 18px; color: black; text-align: justify;">
                            Welcome to InfraSoft, the nexus where technology seamlessly intertwines with innovation. Since our inception in 2018, we've proudly stood as your unwavering ally, dedicated to delivering cutting-edge technology services that redefine the landscape of IT infrastructure. Our commitment to excellence has not only solidified our position as a trusted partner but has also empowered us to provide reliable solutions for all organizations.
                        </span>
                    </p>
                    <p>
                        <span class="text-heading">
                            <p style="font-size: 18px; color: black; text-align: justify;">From the very beginning, we've set out on a mission to tailor solutions that resonate with the unique needs of businesses across the spectrum, ranging from nimble startups to sprawling enterprises. Our journey with you begins with meticulous initial assessments, paving the way for the crafting of bespoke IT roadmaps that serve as blueprints for success. InfraSoft goes beyond the conventional by seamlessly supplying a diverse array of IT products, ensuring that your technological needs are not only met but exceeded.</p>
                        </span>
                    </p>
                    <p>
                        <span class="text-heading">
                            <p style="font-size: 18px; color: black; text-align: justify;">At InfraSoft, we believe in the power of organic growth, nurturing enduring client relationships that stand the test of time. Through these connections, we foster an environment of collaboration and understanding, ensuring that our solutions align perfectly with your evolving needs. Strategic alliances are the cornerstone of our approach, as we believe in the strength that comes from working together to bring you the absolute best in IT solutions.Behind InfraSoft stands a dedicated team of seasoned professionals, poised to navigate and conquer the challenges presented by today's dynamic technological landscape. Their wealth of experience and knowledge forms the</p>
                        </span>
                    </p>

                </div>
            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-xl-8 col-lg-6">
                <div class="about-content content-right">
                    <span class="title-highlighter highlighter-primary2">
                        <i class="fas fa-rocket"></i>Mission
                    </span>
                    <h3 class="title" style="color: black;">Our Mission</h3>
                    <p>
                        <span class="text-heading"
                              style="font-size: 18px; color: black; text-align: justify;">
                            To provide targeted
                            cutting edge technology to organizations
                            services to make your company run quicker and more reliably
                            at all times. We provide secure and reliable IT infrastructure solutions with
                            exceptional services with the goal of
                            increasing your office performance which increases your profit, through fast service
                            with a professional and friendly
                            staff.
                        </span>
                    </p>

                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="about-thumbnail">
                    <div class="thumbnail">
                        <img src="/eCommerce/infrasoft/assets/images/about/miss-768x448-1.jpg" alt="About Us">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="aster-about-area about-style-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary2">
                        <i class="fal fa-star"></i> choose
                        Us
                    </span>
                    <h2 class="title">Why Choose Us</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">1.</div>
                            <h4 class="title" style="color: black;">A Complete IT Solution</h4>
                            <p style="font-size: 16px; color: black; text-align: justify;">
                                We are not just
                                another IT solutions provider – we are your partners in
                                leveraging technology to achieve your business
                                goals.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">2.</div>
                            <h4 class="title" style="color: black; text-align: justify;">Expert Team</h4>
                            <p style="font-size: 16px; color: black; text-align:justify;">
                                At the heart of our
                                success lies our exceptional team of experts. We've
                                handpicked a diverse group of seasoned professionals, each bringing a unique set
                                of skills and experiences to the
                                table.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">3.</div>
                            <h4 class="title" style="color: black;">Fast Growing Process</h4>
                            <p style="font-size: 16px; color: black; text-align: justify;">
                                Our fast-growing
                                process is designed to transform your ideas into fully
                                functional solutions at an accelerated pace.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-features">
                            <div class="spam sl-number">4.</div>
                            <h4 class="title" style="color: black;">Trusted Partner</h4>
                            <p style="font-size: 16px; color: black; text-align: justify;">
                                With a relentless commitment to excellence, we have built a reputation as a
                                go-to partner for businesses seeking
                                comprehensive IT solutions that drive growth and innovation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-gallery">
                    <div class="row row--10">
                        <div class="col-6">
                            <div class="thumbnail thumbnail-1">
                                <img src="/eCommerce/infrasoft/assets/images/about/about-01.jpeg" alt="About">
                            </div>
                            <div class="thumbnail thumbnail-2">
                                <img src="/eCommerce/infrasoft/assets/images/about/hero-1.jpeg" alt="About">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="thumbnail thumbnail-3">
                                <img src="/eCommerce/infrasoft/assets/images/about/hero-3.jpeg" alt="About">
                            </div>
                            <div class="thumbnail thumbnail-4">
                                <img src="/eCommerce/infrasoft/assets/images/about/isaac-chou-475FBIp4qZU-unsplash.jpg" alt="About">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>