/* Google Fonts Import Link */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --PrimaryColor: hsla(23, 99%, 51%, 1);
    --SecondaryColor: rgba(3, 5, 61, 0.8);
    --gradientColor: linear-gradient(83.1deg, #ee0979 0%, #fe6605 100%);
    --bgColor: #f5f5f5;
    --WhiteColor: hsl(0, 0%, 100%);
    --textColor: rgba(3, 5, 61, 0.8);
    --topNavColor: rgba(247, 248, 250, 0.5);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: hsla(210, 60%, 98%, 1);
    --cardBG: rgb(225, 225, 235);
    --toggle-color: #ddd;
    --mainContentbg-color: rgba(255, 255, 255, 0.1);
    --sidebar-color: rgba(255, 255, 255, 0.1);
    --body-color: rgba(233, 237, 240, 0.5);
    --glassMorph: rgba(247, 248, 250, 0.5);
    --toggleSwitch: #18191a;
    // boxShadow style------
    // --innerShadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75),
    //   inset -5px -5px 15px rgba(255, 255, 255, 0.75);
    // --dropDownShadow: 10px 10px 24px rgba(166, 180, 200, 0.7),
    //   -12px -12px 20px rgba(255, 255, 255, 0.8);
    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    min-height: 100vh;
    background-color: var(--bgColor) !important;
    transition: var(--tran-05);
}

.ellipse1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    background: rgba(252, 40, 61, 0.5);
    filter: blur(100px);
}

.ellipse2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 150px;
    background: rgba(84, 191, 41, 0.5);
    filter: blur(100px);
}

.ellipse3 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 150px;
    background: rgba(255, 146, 44, 0.5);
    filter: blur(100px);
}

body.dark {
    --bodyColor: #18191a;
    --sidebar-color: #242526;
    --body-color: #242526;
    --topNavColor: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #ccc;
    --textColor: #ccc;
    --bgColor: #3a3b3c;
    --glassMorph: #3a3b3c;
    --toggleSwitch: #18191a;
    // --innerShadow: inset -6.22302px -6.22302px 6.22302px #3b4451,
    //   inset 3.73381px 3.73381px 6.22302px #000000;
    // --dropDownShadow: 14px 14px 40px rgba(16, 16, 18, 0.75),
    //   -7px -7px 30px #262e32;
    .mode {
        .sun-moon {
            i.sun {
                opacity: 1;
            }

            i.moon {
                opacity: 0;
            }
        }
    }

    .switch {
        &::before {
            left: 20px;
        }
    }
}

html {
    scroll-behavior: smooth;
}

ul,
li {
    list-style: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: var(--sidebar-color);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.875px);
    z-index: 100;
    transition: var(--tran-05);

    .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;

        i {
            font-size: 30px;
            background: var(--SecondaryColor);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .logo_name {
            font-size: 22px;
            background: var(--SecondaryColor);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            transition: var(--tran-03);
            transition-delay: 0.1s;
        }
    }

    .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        .test {
            position: relative;
            transition: var(--tran-04);
            margin: 3px 6px;
            padding: 10px;

            &:hover {
                background: var(--bgPColor);
                border-radius: 6px;
                box-shadow: 0px 0px 4px rgba(30, 75, 185, 0.25);

                .sub-menu.blank {
                    top: 50%;
                    //   transform: translateY(-50%);
                }

                svg,
                i,
                .link_name {
                    fill: var(--PrimaryColor);
                    color: var(--PrimaryColor);
                }
            }

            .iocn-link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: -1;
            }

            svg {
                height: 20px;
                min-width: 20px;
                margin-left: 12px;
                text-align: center;
                line-height: 50px;
                fill: var(--textColor);
                cursor: pointer;
                transition: var(--tran-03);
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;

                .link_name {
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--textColor);
                    transition: var(--tran-04);
                }
            }

            .sub-menu {
                padding: 14px 6px 14px 45px;
                margin-top: -10px;
                background: var(--bgPColor);
                border-radius: 0 0 6px 6px;
                transition: var(--tran-05);
                display: none;

                li {
                    a {
                        color: var(--textColor);
                        font-size: 15px;
                        padding: 5px 15px;
                        white-space: nowrap;
                        transition: var(--tran-03);
                        position: relative;

                        &::before {
                            content: "\00bb";
                            position: absolute;
                            opacity: 0;
                            top: -6px;
                            left: -6px;
                            transition: 0.5s;
                            font-size: 28px;
                        }

                        &:hover,
                        &:focus,
                        &:focus-visible,
                        &:active {
                            color: var(--PrimaryColor);
                            transform: translateX(7px);

                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }

                .link_name {
                    display: none;
                }
            }

            .sub-menu.blank {
                opacity: 1;
                pointer-events: auto;
                padding: 3px 20px 6px 16px;
                opacity: 0;
                pointer-events: none;
            }
        }

        .active {
            background: var(--bgPColor);
            border-radius: 6px;
            box-shadow: 0px 0px 4px rgba(30, 75, 185, 0.25);

            i,
            .link_name {
                color: var(--PrimaryColor) !important;
            }

            svg {
                fill: var(--PrimaryColor);
            }
        }

        .test.showMenu {
            i.arrow {
                transform: rotate(-180deg);
            }

            .sub-menu {
                display: block;
            }
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            color: var(--textColor);
            transition: var(--tran-03);
            transition-delay: 0.1s;
        }
    }
}

.mode {
    // display: flex;
    // align-items: center;
    // border-radius: 6px;
    // // background: var(--bgColor);
    // position: relative;
    // transition: var(--tran-05);
    // margin: 3px 6px;
    // &:hover {
    //   background: var(--bgPColor);
    //   border-radius: 6px;
    //   box-shadow: 0px 0px 4px rgba(30, 75, 185, 0.25);
    //   cursor: pointer;
    //   .sun-moon {
    //     i {
    //       color: var(--PrimaryColor);
    //     }
    //   }
    //   .mode-text {
    //     color: var(--PrimaryColor);
    //   }
    // }
    // .mode-text {
    //   color: var(--textColor);
    // }
    .sun-moon {
        i {
            position: absolute;
        }

        i.sun {
            opacity: 0;
        }
    }
}

.toggle-switch {
    .switch {
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }
}

.switch {
    &::before {
        content: "";
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--toggleSwitch);
        transition: var(--tran-04);
    }
}

.sidebar.close {
    width: 78px;

    .logo-details {
        .logo_name {
            transition-delay: 0s;
            opacity: 0;
            pointer-events: none;
        }
    }

    .nav-links {
        overflow: visible;

        h6 {
            transition-delay: 0s;
            display: none;
        }

        li {
            .iocn-link {
                display: block;
            }

            a {
                .link_name {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .sub-menu {
                position: absolute;
                left: 100%;
                top: -10px;
                margin-top: 0;
                padding: 10px 20px;
                border-radius: 0 6px 6px 0;
                opacity: 0;
                display: block;
                pointer-events: none;
                transition: 0s;

                .link_name {
                    font-size: 16px;
                    opacity: 1;
                    display: block;
                }
            }

            &:hover {
                .sub-menu {
                    top: 0;
                    opacity: 1;
                    pointer-events: auto;
                    transition: var(--tran-04);
                    box-shadow: 1px 2px 10px 1px rgba(0, 152, 241, 0.15), 32px 32px 100px rgba(30, 39, 51, 0.05);
                }
            }
        }

        i.arrow {
            display: none;
        }
    }

    ~ {
        .home-section {
            left: 100px;
            width: calc(100% - 100px);
        }
    }
    // .bottom-content {
    //   .mode {
    //     .sun-moon,
    //     .mode-text {
    //       opacity: 0;
    //       pointer-events: none;
    //       transition: var(--tran-05);
    //     }
    //   }
    // }
}

.home-section {
    position: relative;
    //background: var(--bodyColor);
    height: 100vh;
    left: 280px;
    width: calc(100% - 280px);
    transition: var(--tran-05);

    .home-content {
        position: absolute;
        // width: calc(100% - 10px);
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        background: var(--topNavColor);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.75px);
        margin: 0 0 10px 0;
        transition: var(--tran-05);

        .bx-menu {
            background: var(--SecondaryColor);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 35px;
            margin: 0 15px;
            cursor: pointer;
        }

        .nav-item {
            .nav-link {
                color: var(--textColor) !important;
                font-size: 14px;
                font-weight: 500;

                &:hover {
                    color: var(--PrimaryColor) !important;
                }
            }
        }

        .form-inline {
            position: relative;

            .icon {
                opacity: 1;
                position: absolute;
                z-index: 1;
                right: 12px;
                top: 9px;
                color: #979faf;
                font-size: 26px;
                fill: rgba(0, 0, 0, 0.4);
            }

            input {
                background-color: var(--WhiteColor);
                box-shadow: var(--innerShadow);
                border-radius: 25px;
                border: none !important;
                padding: 8px 20px !important;

                &:hover,
                &:focus,
                &:focus-visible,
                &:focus-within {
                    box-shadow: 0px 1px 6px rgb(188, 195, 204);
                }
            }
        }

        .notification {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            background: var(--WhiteColor);
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0px 1px 6px rgb(188, 195, 204);

            .noitify {
                position: relative;
                margin-top: 4px;

                i {
                    background: var(--SecondaryColor);
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 20px;
                }

                ::after {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    right: 0;
                    border-radius: 50%;
                    top: 0;
                    background-color: var(--PrimaryColor);
                    -webkit-animation: notify-pulse 1s infinite;
                    animation: pulse 1s ease-out infinite;

                    @keyframes pulse {
                        0% {
                            -webkit-transform: scale(0);
                            opacity: 0;
                        }

                        25% {
                            -webkit-transform: scale(0.1);
                            opacity: 0.1;
                        }

                        50% {
                            -webkit-transform: scale(0.5);
                            opacity: 0.5;
                        }

                        75% {
                            -webkit-transform: scale(0.8);
                            opacity: 0.8;
                        }

                        100% {
                            -webkit-transform: scale(1);
                            opacity: 0;
                        }
                    }
                }
            }

            ul {
                padding: 10px !important;
                background: var(--topNavColor);
                box-shadow: 1px 2px 10px 1px rgba(0, 152, 241, 0.15), 32px 32px 100px rgba(30, 39, 51, 0.05);
                backdrop-filter: blur(21.7463px);
                border: none !important;
                color: var(--textColor);

                .newMessage {
                    background: var(--bgPColor);
                    box-shadow: 0px 0px 4px rgba(30, 75, 185, 0.25) !important;
                    padding: 8px;
                    text-align: left;
                    width: 200px;

                    p {
                        color: var(--textColor);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 12px !important;
                        margin-bottom: 0 !important;
                    }
                }
            }
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            background: var(--WhiteColor);
            box-shadow: 0px 1px 6px rgb(188, 195, 204);
            border-radius: 50%;

            .dropdown-menu {
                padding: 10px !important;
                background: var(--topNavColor);
                box-shadow: 1px 2px 10px 1px rgba(0, 152, 241, 0.15), 32px 32px 100px rgba(30, 39, 51, 0.05);
                backdrop-filter: blur(21.7463px);
                border: none !important;

                .dropdown-item {
                    color: var(--textColor);

                    &:hover {
                        color: #fe6605 !important;
                        background-color: var(--bgColor) !important;
                        box-shadow: 0px 0px 4px rgba(30, 75, 185, 0.25) !important;
                    }

                    :active {
                        background-color: var(--SecondaryColor) !important;
                    }
                }
            }
        }

        .darkMode {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            background: var(--WhiteColor);
            border-radius: 50%;
            box-shadow: 0px 1px 6px rgb(188, 195, 204);
            cursor: pointer;

            .mode {
                .sun-moon {
                    text-align: center;
                    color: var(--SecondaryColor);
                    font-size: 20px;
                    cursor: pointer;
                    transition: var(--tran-03);
                    margin-top: -10px;
                    margin-right: 19px;
                }
            }
        }
    }
    // @media (min-width: 1101px) {
    //   .megaMenu {
    //     display: none;
    //   }
    // }
    @media (max-width: 1100px) {
        nav {
            .top-nav {
                display: none;
            }
        }
        // .megaMenu {
        //   display: block;
        // }
    }

    @media (max-width: 600px) {
        .searchBar {
            display: none;
        }
    }
    // ------- Main Body start -----
    .mainContainer {
        // height: calc(100vh - 60px);
        /* width: 100%; */
        height: 100vh;
        padding: 80px 0 0 0;
        background-color: transparent;

        .contentWrapper {
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            background: var(--mainContentbg-color);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10.875px);
            -webkit-backdrop-filter: blur(10.875px);
            color: var(--textColor);
            position: relative;

            .categorySection {
                padding: 20px;

                .sectionTitle {
                    color: var(--PrimaryColor);
                }

                .categoryLists {
                    background: #fff;
                    border-radius: 6px;
                    box-shadow: 0px 0px 10px rgba(13, 110, 253, 0.1);
                    padding: 10px;
                    overflow: hidden;

                    .selectCategory {
                        background: rgba(3, 5, 61, 0.1);
                        color: var(--textColor);
                        border-radius: 25px;
                        margin-right: 10px;

                        &:hover,
                        &:active,
                        &:focus,
                        &:focus-within,
                        &:focus-visible {
                            background: var(--PrimaryColor);
                            color: var(--WhiteColor);
                        }
                    }
                }

                .searchBar {
                    .form-inline {
                        position: relative;

                        .icon {
                            opacity: 1;
                            position: absolute;
                            z-index: 1;
                            right: 12px;
                            top: 9px;
                            color: #979faf;
                            font-size: 26px;
                            fill: rgba(0, 0, 0, 0.4);
                        }

                        input {
                            background-color: var(--WhiteColor);
                            border-radius: 25px;
                            border: none !important;
                            padding: 8px 20px !important;
                            box-shadow: 0px 0px 10px rgba(13, 110, 253, 0.1);

                            &:hover,
                            &:focus,
                            &:focus-visible,
                            &:focus-within {
                                box-shadow: 0px 1px 6px rgb(188, 195, 204);
                            }
                        }
                    }
                }

                .itemList {
                    .card {
                        width: 100%;
                        border: none !important;
                        box-shadow: 0px 0px 15px rgba(13, 110, 253, 0.16);
                        border: 8px;
                        // .itemImg {
                        //   width: 173px;
                        //   height: 120px;
                        //   img {
                        //     width: 100%;
                        //     height: 100%;
                        //     object-fit: cover;
                        //     border-radius: 8px 8px 0 0;
                        //   }
                        // }
                        img {
                            border-radius: 8px 8px 0 0;
                        }

                        .card-body {
                            padding: 0 !important;

                            h5 {
                                font-size: 15px !important;
                            }

                            p {
                                font-weight: 600;
                            }
                        }

                        .availableStatus {
                            position: absolute;
                            margin: 5px;
                            padding: 5px;
                            color: #fff;
                            background: rgba(84, 191, 41, 0.9);
                            border-radius: 3px;
                            font-weight: 500;
                            font-size: 12px;
                        }

                        .unavailableStatus {
                            position: absolute;
                            margin: 5px;
                            padding: 5px;
                            color: #fc283d;
                            background: rgba(252, 40, 61, 0.2);
                            border-radius: 3px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .orderList {
                padding: 15px;
                position: relative;
                background: var(--WhiteColor);
                height: 100%;

                .orderHeader {
                    border-bottom: 1px dashed rgba(3, 5, 61, 0.3);

                    .sectionTitle {
                        color: var(--PrimaryColor);
                    }

                    .customerWalkIn {
                        background: #f5f5f5;
                        padding: 5px 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 4px;

                        .select {
                            background: #ffffff !important;
                            border: 1px solid rgba(3, 5, 61, 0.3) !important;
                            border-radius: 4px !important;
                        }

                        .addBtn {
                            background: rgba(84, 191, 41, 0.1);
                            border-radius: 6px;

                            i {
                                color: rgba(84, 191, 41, 1);
                            }
                        }
                    }

                    .deliveryInfo {
                        background: #f5f5f5;
                        padding: 5px 9px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 4px;

                        .editBtn {
                            background: rgba(255, 146, 44, 0.1);
                            border-radius: 4px;

                            i {
                                color: var(--PrimaryColor);
                            }
                        }
                    }
                }

                .orderBody {
                    display: flex;
                    flex-direction: column;
                    column-gap: 10px;
                    border-bottom: 1px dashed rgba(3, 5, 61, 0.3);

                    .selectedItem {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #f5f5f5;
                        padding: 5px 10px;
                        border-radius: 4px;

                        .item-thumbnail {
                            width: 80px;
                            height: 80px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }

                        .deleteBtn {
                            background: rgba(252, 40, 61, 0.2);
                            border-radius: 4px;

                            i {
                                color: #fc283d;
                            }
                        }

                        p {
                            color: var(--textColor);

                            span {
                                font-weight: 500;
                            }
                        }
                    }

                    .billDetails {
                        margin: 50px 0 0 0;
                        padding: 5px 10px;
                        background: #f5f5f5;
                        border-radius: 4px;

                        p {
                            margin-bottom: 0 !important;
                        }
                    }
                }

                .orderFooter {
                    .paymentDetails {
                    }

                    .buttonGroup {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: var(--topNavColor);
            box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
            -webkit-backdrop-filter: blur(10.75px);
            backdrop-filter: blur(10.75px);
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;

            span {
                margin-left: 5px;
            }
        }
    }
}

@media (max-width: 400px) {
    .sidebar.close {
        .nav-links {
            li {
                .sub-menu {
                    display: none;
                }
            }
        }

        width: 0;

        ~ {
            .home-section {
                width: 100%;
                left: 0;
            }
        }
    }

    .sidebar {
        width: 78px;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }
}
